:root {
    --activeBlue: #00519E;
    --selectionBlue: #0069AF;
    --blue10: #3F85C1;
    --blue20: #96C7E8;
    --blue30: #E9F1F9;

    --grey10: #263446;
    --grey20: #5B6676;
    --grey30: #8F989D;
    --grey40: #C7CCCF;
    --grey50: #E3E5E7;
    --grey60: #F4F5F7;

    --red: #B5123E;
    --yellow: #F9A825;
    --green: #25B160;

    --neufa-font-family: Arial, Helvetica, sans-serif;

    --neufa-active-blue: #00519e;
    --neufa-selection-blue: #0069af;
    --neufa-disabled-blue: #9fc1df;
    --neufa-hover-blue: #005ccc;
    --neufa-blue-10: #3f85c1;
    --neufa-blue-20: #96c7e8;
    --neufa-blue-30: #e9f1f9;
    --neufa-grey-10: #263446;
    --neufa-grey-20: #5b6676;
    --neufa-grey-30: #8f989d;
    --neufa-grey-40: #c7cccf;
    --neufa-grey-50: #e3e5e7;
    --neufa-grey-60: #f4f5f7;

    --neufa-red: #b5123e;
    --neufa-hover-red: #b50000;
    --neufa-active-red: #b50000;
    --neufa-disabled-red: #f88ba8;
    --neufa-invalid-red: #f4dce2;

    --neufa-yellow: #f9a825;
    --neufa-hover-yellow: #f9a800;
    --neufa-active-yellow: #f9a800;
    --neufa-disabled-yellow: #ffd99d;

    --neufa-green: #25b160;
    --neufa-hover-green: #00b100;
    --neufa-active-green: #00b100;
    --neufa-disabled-green: #a2ffc9;

    --neufa-black: #000000;
    --neufa-white: #ffffff;

    --lumo-primary-color: var(--neufa-selection-blue);
    --lumo-primary-text-color: var(--neufa-black);
    --lumo-secondary-text-color: var(--neufa-black);
    --lumo-font-family: var(--neufa-font-family);

    --vaadin-input-field-background: var(--neufa-white);
    --vaadin-input-field-border-width: 1px;
}

body {
    background: var(--blue20);
    font-family: var(--neufa-font-family);
    margin: 0px;
    margin: 0px;
    color: var(--grey10);
}



